/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 1.125rem;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* ADD BOOK MODAL */
form {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    width: 300px;
    /* margin: 0 auto; */
    padding: 1rem;
    gap: 0.5rem;
}

#submitBtn {
    align-self: center;
}

/* NAVBAR */
.navbar {
    background-color: #F0A868;
    padding: 1rem 0;
}

.navbar-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
}

/* BOOK CARD */
.book-card-container {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    width: 200px;
    padding: 1.25rem;
    border-radius: 12px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: black;
}

.book-card h2 {
    margin-bottom: 0.5rem;
}

.book-card p:first-of-type {
    margin-bottom: 0.25rem;
}

.book-card img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.book-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.read-status p {
    display: inline-block;
    margin-right: 0.3rem;
}

/* ADD BOOK BUTTON */
#showModal {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #F0A868;
    border: none;
    position: absolute;
    bottom: 3rem;
    right: 10%;
    font-size: 1.25rem;
    font-weight: 700;
}

#showModal img {
    height: 36px;
    width: 36px;
}

/* CUSTOM SWTICH BUTTON STYLES - TAKEN FROM https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}